<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="canyalkin.net.memoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MemoAppMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopupAddActivity"
            android:label="@string/title_activity_popup_add"
            android:parentActivityName=".MemoAppMainActivity"
            android:theme="@style/WhiteBackGroundDialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="canyalkin.net.memoapp.MemoAppMainActivity" />
        </activity>
        <activity
            android:name=".AskActivity"
            android:label="@string/title_activity_ask"
            android:parentActivityName=".MemoAppMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="canyalkin.net.memoapp.MemoAppMainActivity" />
        </activity>
    </application>

</manifest>
